<head>
  <title>Meteor App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <base href="/" />
</head>

<body >
  <header>
    <md-toolbar md-scroll-shrink >
      <div class="md-toolbar-tools">
        <h3>
          <span>Meteor App</span>
        </h3>
      </div>
    </md-toolbar>
  </header>

  <section>
    <div class="container" ng-app="meteorapp" ng-cloack>

      <eventos-list></eventos-list>

      <div ng-controller="cameraCtrl">
        <form>
          <md-input-container>
            <label>Escolha o nome do evento</label>
            <input ng-model="newEvento"/>
          </md-input-container>
          <md-button ng-click="takePicture()">Picture</md-button>
          <md-button class="md-raised" ng-click="addEvento()">Salvar</md-button>
          <hr/>
          <img ng-src="{{imageData}}" ng-show="imageData">
        </form>
      
        
        
      </div>
    </div>
  </section>


  <footer>
    <p>Desenvolvido por Gambiólogos</p>
  </footer>

</body>

